@import '~theme/tools'
@import '~theme/pub'
@import '~theme/ele'

/** item **/
.about
    max-width 1200px
    padding 0px 20px
    font-size: 14px;
    line-height: 180%;
    .about-container
        color black
        max-width: 660px;
        margin: 20px auto;
        .about-title
            font-size: 24px;
            font-weight: 600;
        .about-sub
            font-size 12px
            color #aea79f
        .about-content
            font-size 14px
            p
                margin 10px 0px
        .about-title-sub
            font-size: 24px;
            font-weight: 600;
        .about-qrcode
            width 180px

@media (max-width: 600px)
    .login-container .login-content
        left 0px
        top 0
        padding-top: 35px;
        margin 0px
    .login-container .login-content .login-window
        padding 20px 10px
        border-radius: 0px;
